/*

<form-group>
    <label>
    <form-control>
        <element>
        <helptext>
    

*/

.input-label {
    @include flexbox;
    @include justify-content(center);
    @include flex-direction(column);
    padding-right: .8em;
    width: 33%;
    max-width: 245px;
    min-width: 80px;
    @include flex(0 1 auto);
    height: 42px;
    line-height: 1.2em;

    &.size-xs {
        color: darken($color-grey, 25%);
        font-size: .65rem;
        text-transform: uppercase;
    }
    &.size-sm {
        color: darken($color-grey, 25%);
        font-size: .85rem;
    }
}
.form-control {
    @include flexbox;
    @include flex(1 1 auto);
    @include justify-content(flex-start);
    @include align-items(center);

    

    .help-text {
        margin: 0 0 0 .6rem; 
        display: inline-block;
        line-height: 1;
        @include font-size(13px);
    }
    
    &.fill {
        position: relative;
        @include flex-direction(column);
        @include align-items(flex-start);

        > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
        > textarea,
        > select,
        > .input-group {
            width: 100%;
        }

        .help-text {
            display: block;
            margin: .4rem 0;
            
        }
       
    }

    

    
}

.form-group {
    @include flexbox;
    @include justify-content(flex-start);   
    margin-bottom: .5rem;

    &.inline {
        @include inline-flex;
        margin-right: .5rem;
        margin-bottom: 0;
    }

    

    // Vertical group
    &.vertical {
        @include flex-direction(column);
        
        > label, .input-label {
            margin-bottom: .5rem;
            height: auto;
            width:100%;
        }
        .form-control {
            @include flexbox;
            @include flex(1 1 auto);
            @include flex-direction(column);
            @include justify-content(flex-start);
            @include align-items(flex-start);
        }
    }
    &.valign-top {
		@include align-items(flex-start);
	}
	&.valign-center {
		@include align-items(center);
	}
	&.valign-bottom {
		@include align-items(flex-end);
    }
    
    > label {
        @extend .input-label;
    }   

    
}

label > span:not(:first-child) {
    margin-left: .3rem;
}
// INPUT GROUP

.input-group {
    position: relative;
    //width: 100%;
    @include flexbox; 
    @include flex-wrap(wrap);
    @include align-items(stretch);
    height: 42px;

    > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
    > textarea,
    > select {
        position: relative;
        @include flex(1 1 0%);
        min-width: 0;
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 100%;
        
    }

    > input[type="checkbox"], 
    > input[type="radio"], 
    > label, 
    > span {
        @include align-self(center);
        margin-right: .4rem;
    }
    > label {
        margin-right: .6rem;
    }

    .addon {
        @include flexbox;
        @include align-items(center);
        @include align-self(stretch);
        padding: 0 8px;
        line-height: 1;
        margin: 0 !important;
        cursor: pointer;
        @include prefix(border-radius, 3px);

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    
    > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
    > textarea,
    > select {
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    
    > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
    > textarea,
    > select {
        &:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        }
    }    
}
