.input-label {
    @include flexbox;
    @include justify-content(center);
    @include flex-direction(column);
    padding-right: .8em;
    width: 33%;
    max-width: 245px;
    min-width: 80px;
    @include flex(0 1 auto);
    height: 42px;
    line-height: 1.2em;
}
.form-control {
    @include flexbox;
    @include flex(1 1 auto);
    @include justify-content(flex-start);
    @include align-items(center);
    
    &.fill {
        position: relative;
        @include flex-direction(column);
        @include align-items(flex-start);

        > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
        > textarea,
        > select {
            width: 100%;
        }
    }
}

.form-group {
    @include flexbox;
    @include justify-content(flex-start);   
    margin-bottom: .5rem;

    > label {
        @extend .input-label;
    }   

    .help-text {
        display: block;
        margin: .4rem 0;
        line-height: 1;
        @include font-size(13px);
    }

    // Vertical group
    &.vertical {
        @include flex-direction(column);
        > label, .input-label {
            margin-bottom: .5rem;
            height: auto;
        }
        .form-control {
            @include flexbox;
            @include flex(1 1 auto);
            @include flex-direction(column);
            @include justify-content(flex-start);
        }
    }
    &.valign-top {
		@include align-items(flex-start);
	}
	&.valign-center {
		@include align-items(center);
	}
	&.valign-bottom {
		@include align-items(flex-end);
	}
}


// .input-group > .form-control 
// .input-group > .append 
// .input-group > .prepend  

.input-group {
    position: relative;
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(stretch);

    .form-control {
        position: relative;
        @include flex(1 1 0%);
        min-width: 0;
        width: 100%;
        margin: 0;

        > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
        > textarea,
        > select {
            width: 100%;
        }

        &:not(:first-child) {
            > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
            > textarea,
            > select {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:not(:last-child) {
            > input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
            > textarea,
            > select {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

    }

    .addon {
        @include flexbox;
        @include align-items(center);
        padding: 0 8px;
        line-height: 1;
        cursor: pointer;
        @include prefix(border-radius, 3px);

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
