@import '../config/colors';
@import '../mixins/helpers';


// FLOATS 
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

// WIDTHS
@for $i from 1 through 100 {
  .width-#{$i} {
    width: percentage($i/100);
  }
}
// PADDING AND MARGINS
$pd: t r l b;
$pdfull: top right left bottom;
@for $i from 1 through 100 {
  .padding-#{$i} {
      padding: #{$i}px;
    }
    .margin-#{$i} {
      margin: #{$i}px;
    }
  @each $padd in $pd {
    $c: $padd;
    $d: nth($pdfull, index($pd, $c));
      .padding-#{$c}-#{$i} {
        padding-#{$d}: #{$i}px;
      }
      .margin-#{$c}-#{$i} {
        margin-#{$d}: #{$i}px;
      }
    }
}


// COLORS
@each $colorName, $color in $color-list {
  .bg-#{""+$colorName+""} {
    background-color: $color !important;
  }
  .text-#{""+$colorName+""} {
    color: $color !important;
  }
  .text-on-#{""+$colorName+""} {
    color: findColorInvert($color) !important;
  }
}


// Shadows
.shadow, .shadow-more, .shadow-less {
  @include transition(all 0.2s ease);
}

.shadow {
  @include prefix(box-shadow, 0 2px 6px -1px rgba(0, 0, 0, 0.14) );
  &:hover {
    @include prefix(box-shadow, 0 4px 6px -1px rgba(0, 0, 0, 0.14) );
  }
}

.shadow-more {
  @include prefix(box-shadow, 0 4px 8px 0 rgba(0, 0, 0, 0.2) );
  &:hover {
    @include prefix(box-shadow, 0 8px 10px 0 rgba(0, 0, 0, 0.2) );
  }
}

.shadow-less {
  @include prefix(box-shadow, 0 2px 2px -1px rgba(0, 0, 0, 0.1) );
  &:hover {
    @include prefix(box-shadow, 0 3px 3px -1px rgba(0, 0, 0, 0.13) );
  }
}


.shadow-none {
  @include prefix(box-shadow, none !important);
}

.img-rounded {
  border-radius: 5px
}

.img-circle {
  border-radius: 50%
}

.img-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.img-contain {
  -o-object-fit: contain;
  object-fit: contain
}