%ui-badge {
    line-height: 1;
    display: inline-block;
    color: $color-grey;
    background-color: lighten( $color-grey, 10% );
    border: none;
    @include prefix(border-radius, 3px);
    @include font-size(16px);
    padding: 3px 8px;
    user-select: none;
    text-align: center;
    font-weight: normal;
    @include transition(all .2s ease);

    &.upper {
        position: relative;
        top: -10px;
    }

    &.size-xs {
        padding: 3px 6px;
        //height: 18px;
        //line-height: 14px;
        //width: 18px;
        @include font-size(8px);
    }
    &.size-sm {
        //height: 22px;
        //line-height: 18px;
        //width: 22px;
        padding: 3px 8px;
        @include font-size(12px);
    }
    &.size-md {
        padding: 4px 12px;
        @include font-size(18px);
    }
    &.size-lg {
        padding: 4px 16px;
        @include font-size(22px);
    }
    &.size-xl {
        padding: 4px 16px;
        @include font-size(28px);
    }

    &.pill {
        @include prefix(border-radius,40px);
    }
    &.round {
        width: 24px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        padding: 0 !important;
        @include font-size(12px);
        letter-spacing: -0.25px;
        &.size-xs {
            height: 16px;
            line-height: 16px; 
            width: 16px;
            @include font-size(8px);
        }
        &.size-sm {
            height: 18px;
            line-height: 18px;
            width: 18px;
            @include font-size(12px);
        }
        &.size-md {
            height: 28px;
            line-height: 28px;
            width: 28px;
            @include font-size(18px);
        }
        &.size-lg {
            height: 32px;
            line-height: 32px;
            width: 32px;
            @include font-size(22px);
        }
        &.size-xl {
            height: 48px;
            line-height: 48px;
            width: 48px;
            @include font-size(28px);
        }

        > * {
            width: 100%;
            height: 100%;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
        }
    }
    

}

.#{$ui-class-prefix}-badge {
    @extend %ui-badge;
    $newcolorlist: map-merge($color-list, ( alert: map-get($color-list, danger)  ) );
    @each $colorName, $colorValue in $newcolorlist {

        &.#{""+$colorName+""} {
            background-color: $colorValue;
            color: findColorInvert($colorValue);         

        }

    }
}