// COLOR CONFIGURATION
$color-list: (
	primary:  #3273dc,
	secondary: #fa735d,
	danger: #e44433,
	warning: #f1bc0f,
	info: #45aaf2,
	success: #2ecd6f,
	attention: #00d1b2,
	grey: #d6d6d6,
	dark: #333,
	white: #fff,
	black: #000, 
	red: #fb6d60,
	blue: #2fa1ef,
	green: #2ecd6f,
	yellow: #ffcd03
) !default;

// ALIAS
$color-primary: map-get($color-list, primary) !default;
$color-secondary: map-get($color-list, secondary) !default;

$color-grey: map-get($color-list, grey) !default;
$color-lightgrey: lighten(map-get($color-list, grey),5%) !default;
$color-darkgrey: darken(map-get($color-list, grey),8%) !default;

$color-danger: map-get($color-list, danger) !default;
$color-warning: map-get($color-list, warning) !default;
$color-info: map-get($color-list, info) !default;
$color-success: map-get($color-list, success) !default;
$color-attention: map-get($color-list, attention) !default;
