$ui-class-prefix: ui;

$form-elements-height: 42px;
// BUTTONS
$btn-base-size: $font-size !default;
$btn-letter-spacing: -0.02rem !default;
$btn-font: $font-primary !default;
$btn-padding: .8em 1.2em !default;

$btn-normal-bg: map-get($color-list, grey) !default;
$btn-normal-color: findColorInvert( map-get($color-list, grey) ) !default;
$btn-normal-hover-bg: lighten($btn-normal-bg,3%) !default;
$btn-normal-hover-color: $btn-normal-color !default;

$btn-disabled-bg: #f1f1f1 !default;
$btn-disabled-color:#c4c4c4 !default;
$btn-disabled-border-color: $btn-disabled-bg !default;

// DROPDOWN MENU
$dropdown-menu: (
	height: auto,
	gutter: 6px,
	zindex: 333,
	minwidth: 210px,
	transition: 200ms,
	break: map-get($breakpoint-list, sm)
);