// BREAKPOINTS
$breakpoint-list: (
	xs: 575px,
	sm: 768px,
	ls: 1024px,
	md: 1280px,
	lg: 1440px,
	xl: 1689px
);

$breakpoints:			575px 768px 1024px 1280px 1440px 1689px !default;
$breakpoints-prefix:	xs sm ls md lg xl !default;
$breakpoints-names:		xsmall small landscape medium large xlarge !default;

