// GRID CONFIGURATION

$container-width: 	1180px !default;
$container-padding: 2rem !default;
$container-padding-sm: 1rem !default;
$container-padding-xs: .5rem !default;

$columns: 			12 !default;			
$grid-gutter:		.3rem !default; 		
$grid-gutter-md:	.6rem !default;			
$grid-gutter-lg:	1rem !default;			
$grid-gutter-xl: 	1.5rem !default;		
$grid-gutter-sm:	.1rem !default; 