$ligtengrey: lighten($color-grey, 12%);
.#{$ui-class-prefix}-tabs {

    ul.tab-nav {
        box-shadow: inset 0px -2px 0px rgba(160, 170, 177, 0.5);
        @include flexbox;
	    @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            @include flex(0 1 auto);
            margin: 0;

            &.push-right {
                margin-left: auto;
            }

            a {
                padding: .6rem 2.5rem;
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                color: #000;
                @include transition(color .2s ease);
                &:hover, &:active {
                    color: $color-primary;
                }
            }

            &.is-active {
                a {
                    border-bottom: 2px solid $color-primary;
                    color: $color-primary;
                    &:hover, &:active {

                    }
                }
            }

            
        }
    }

    &.solid ul.tab-nav {
        background-color: $ligtengrey;
        li {
            a {
                padding: .8rem 2.5rem;
            }
            &.is-active a {
                background-color: $color-primary;
                color: findColorInvert($color-primary);
                border-color: darken($color-primary, 20%);
            }
        }
    }

    @each $colorName, $colorValue in $color-list {

        &.#{""+$colorName+""} ul.tab-nav li {
            a:hover, a:active {
                color: $colorValue;
            }
            &.is-active a {
                border-bottom: 2px solid $colorValue;
                color: $colorValue;
            }
        }
        &.#{""+$colorName+""}.solid ul.tab-nav li {
            a:hover, a:active {
                color: $colorValue;
            }
            &.is-active a {
                background-color: $colorValue;
                color: findColorInvert($colorValue);
                border-color: darken($colorValue, 20%);
            }
        }
    }

    .tab-container {


        .ui-tab {
           
            @include opacity(0);
            transition: opacity .35s;
            z-index: 1;
            height: 0;
            overflow: hidden;

            &.active-tab {
                padding: 1em;
                @include opacity(1);
                z-index: 2;
                overflow: visible;
                height: auto;
                transition: opacity .25s;
            }
        }

    }


}