// Font
$font-primary: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-monospace: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !default; 
$font-size: 16px !default; 
$font-multiplier: 1.2; // Not in practical use yet

// BREAKPOINTS
$breakpoint-list: (
	xs: 575px,
	sm: 768px,
	ls: 1024px,
	md: 1280px,
	lg: 1440px,
	xl: 1689px
);
$breakpoints:			575px 768px 1024px 1280px 1440px 1689px !default;
$breakpoints-prefix:	xs sm ls md lg xl !default;
$breakpoints-names:		xsmall small landscape medium large xlarge !default;

// GRID CONFIGURATION
$container-width: 	1180px !default;
$container-padding: 2rem !default;
$container-padding-sm: 1rem !default;
$container-padding-xs: .5rem !default;
$columns: 			12 !default;			
$grid-gutter:		.4rem !default; 		
$grid-gutter-md:	.6rem !default;			
$grid-gutter-lg:	1rem !default;			
$grid-gutter-xl: 	1.5rem !default;		
$grid-gutter-sm:	.1rem !default; 

// COLOR CONFIGURATION
$color-list: (
	primary:  #3273dc,
	secondary: #fa735d,
	danger: #e44433,
	warning: #f1bc0f,
	info: #45aaf2,
	success: #2ecd6f,
	attention: #00d1b2,
	grey: #d6d6d6,
	dark: #333,
	white: #fff,
	black: #000, 
	red: #fb6d60,
	blue: #2fa1ef,
	green: #2ecd6f,
	yellow: #ffcd03
) !default;

// ALIAS
$color-primary: map-get($color-list, primary) !default;
$color-secondary: map-get($color-list, secondary) !default;
$color-grey: map-get($color-list, grey) !default;
$color-lightgrey: lighten(map-get($color-list, grey),5%) !default;
$color-darkgrey: darken(map-get($color-list, grey),8%) !default;
$color-danger: map-get($color-list, danger) !default;
$color-warning: map-get($color-list, warning) !default;
$color-info: map-get($color-list, info) !default;
$color-success: map-get($color-list, success) !default;
$color-attention: map-get($color-list, attention) !default;

$ui-class-prefix: ui;
$form-elements-height: 42px;

// BUTTONS
$btn-base-size: $font-size !default;
$btn-letter-spacing: -0.02rem !default;
$btn-font: $font-primary !default;
$btn-padding: 0 1.2em !default;

$btn-normal-bg: #fff !default;
$btn-normal-color: findColorInvert( map-get($color-list, grey) ) !default;
$btn-normal-hover-bg: darken($btn-normal-bg,3%) !default;
$btn-normal-hover-color: $btn-normal-color !default;

$btn-disabled-bg: #f1f1f1 !default;
$btn-disabled-color:#c4c4c4 !default;
$btn-disabled-border-color: $btn-disabled-bg !default;

// DROPDOWN MENU
$dropdown-menu: (
	height: auto,
	gutter: 6px,
	zindex: 333,
	minwidth: 210px,
	transition: 200ms,
	break: map-get($breakpoint-list, sm)
);

$dropdownconfig: (
    'background': #fff,
    'color': #000,
    'hover': lighten($color-grey,10%),
    'hover-color': #000,
    'border-color': rgba(0,0,0,.05),
    'border-radius': 3px,
    'shadow': 0 6px 12px rgba(0,0,0,0.18),
    'sub-shadow': 1px 6px 10px -6px rgba(0,0,0,0.18),
    'divider': $color-grey,
    'padding': 6px 14px,
    'min-width': 174px 
) !default;

$header-color:  map-get($color-list, black) !default;
$text-color: map-get($color-list, black) !default;

$link-color-normal: $color-primary !default;
$link-color-visited: $color-primary !default;
$link-color-hover: darken( $color-primary, 10%)  !default;

