.#{$ui-class-prefix}-card {

    min-height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(stretch);

    background-clip: border-box;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
    background-color: #fff;
    
    > *:not(:first-child):not(:last-child) {
        @include flex-grow(1);
    }
    > :first-child, > :last-child, {
        @include flex-shrink(0);
    }
    
    .card-header, .card-footer, .card-body, .card-contents {
        
        padding: 10px 15px;
    }
    .card-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .card-body {
        padding: 15px 15px;
    }
    .card-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    &.borderless {
        border: 0;

        .card-header, .card-footer {
            border: 0;
        }
    }

    &.rounded {
        @include prefix(border-radius, 4px);
    }
}

