// DIALOG SETTINGS
$backdrop-color: rgba(0,0,0,.75) !default;
$dialog-background: #ffffff !default;
$header-border-color: #000 !default; // Set to false if not needed
$header-background: false !default; 
$dialog-shadow: 0 0 15px 0px rgba(0,0,0,.2) !default; // Set to false if not needed
$close-color: #000 !default;
$close-hover-color: rgb(212, 65, 37) !default;
$close-color-outer: #fff !default;
$close-hover-color-outer: rgb(212, 65, 37) !default;

body.slickDialog-is-open {
  overflow-y: hidden;
  height: 100vh;
  position: relative;

  .slickDialog-wrapper {
  	@include animation( slickdialog_fadein_wrapper .3s );
  	@include prefix( animation-fill-mode, forwards );
    	visibility: visible;
  }
  .close-dialog {
  	display: block !important;
  }
}
.slickDialog-backdrop {
  position: fixed;
  width:100%;
  height:100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: $backdrop-color;
  opacity:0;
  z-index: 99996;
  pointer-events: none;

  &.show-backdrop {
    @include animation( slickdialog_fadein .2s );
    opacity:1;

    
  }

  &.hide-backdrop {
    @include animation( slickdialog_fadeout .2s );
    opacity:0;
 }


}

.slickDialog-wrapper {
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background:transparent;
  z-index: 99997;
  visibility: hidden;
  

  .slickDialog-outer {
    display: table;
    width:100%;
    height:100%;


    .slickDialog-inner {
      display: table-cell;
      vertical-align:middle;
      text-align:center;

      // THE MAIN DIALOG -------
      .slickDialog {
        @if $dialog-shadow != false {
          box-shadow: $dialog-shadow;
        }
        background: $dialog-background;
        width: 60%;
        text-align:left;
        margin: 0 auto;
        @include prefix(border-radius, 4px);

        position: relative;
        display: none;
        @include breakpoint(xs) {
          width: 90% !important; max-height: 100%;
        }
        &:first-child {
          display: block;
        }

        header, section, footer {
          padding: 24px;
          display:block;
          position: relative;
        }

        section {
          @include breakpoint(sm) {
            overflow:hidden; 
            display: block;
          }
        }
        &.contentype-image section {
          padding: 0;
          img { display: block; max-width: 100%; }
        }
        &.contentype-iframe section {
          padding: 0; 
          iframe { display: block; min-width: 100%; }
        }

        header {
          @if $header-border-color != false {
            border-bottom: 1px solid $header-border-color;
          } 
          @if $header-background != false {
            background: $header-background;
          }
        }

        h4, p { margin: 0 }
       
      } // ---- END MAIN DIALOG LAYOUT 

    }

    .close-dialog {
            position: absolute;
            right: 24px;
            top: 24px;
            display: none;
            width: 24px;
            height: 24px;
            overflow: hidden;
            cursor: pointer;
            z-index: 99999;
            &:before, &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -1px;
                background: $close-color;
                @include transition( all 0.2s);
            }
            &.close-position-outer {
              &:before, &:after {
                background: $close-color-outer;
              }
              &:hover {
                &:after, &:before {
                  background: $close-hover-color-outer;
                }
              }
            }
            &:before {
              @include rotate(45);
            }
            &:after {
              @include rotate(-45 );
            }
            &:hover {
              &:after, &:before {
                background: $close-hover-color;
              }
            }
            
        }
  }
}


@include keyframes(slickdialog_fadein) {
  from { @include opacity(0); }
  to   { @include opacity(1); }
}
@include keyframes(slickdialog_fadeout) {
  from { @include opacity(1);}
  to   { @include opacity(0); }
}
@include keyframes(slickdialog_fadein_wrapper) {
  99% { visibility: hidden; }
  100%  { visibility: visible; }
}
