%ui-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;

    td,th {
        padding:0 8px;
        display: table-cell;
        vertical-align: middle;
    }

    thead {
        td,th {
            height: 56px;
        }
        tr:last-child {
            td,th {
                border-bottom: 1px solid $color-grey;
            }
        }
    }
    tbody {
        td {
            height: 52px;
            @include transition(.2s background-color ease-in-out);
        }
        tr.selected-row td {
            color: findColorInvert( $color-primary );
            background-color: lighten($color-primary,5%);

            > a { // Only first child, avoid nested
                color: findColorInvert( $color-primary );
            }

        }
    } 
    tfoot {
        td {
            height: 56px;
            vertical-align: bottom;
        }
    }

    
}

.#{$ui-class-prefix}-table {
    @extend %ui-table;

    .table-sort {
        color: #9e9e9e;
        &:before {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 18px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            top: 4px;
            position: relative;
            margin-right: 2px;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            content: "\e5d7";
        }
        &.is-active-column {
            color: #000;

            &[data-sort="asc"] {
                &:before {
                    content: "\e5ce";
                }
            }
            &[data-sort="desc"] {
                &:before {
                    content: "\e5cf";
                }
            }
        }
    }

} 